/*
font-family: 'Abril Fatface', cursive;
font-size: 48px;
font-family: 'Poppins', sans-serif;
font-size: 14px;
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 24px;
    background-color: lemonchiffon;
}

header, main {
    width: 80%;
    margin: 40px auto;
}

main {
    padding: 20px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

.pictures div {
    flex: 25%;
    border: 3px solid darkolivegreen;
    background-color:honeydew;
}

.content {
    display: flex;
    margin-bottom: 60px;
}

.content .left {
    flex: 1;
    padding: 20px;
    margin: 20px;
    border: 3px solid darkseagreen;
}

.content .right {
    flex: 2;
    border: 3px solid darkseagreen;
    margin: 20px;
}

h1, h2, h3 {
    font-family: 'Abril Fatface', cursive;
}

h1 {
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 20px;
    text-align: center;
    color: lightslategrey;
}
h2 {
    font-size: 27px;
    color: rosybrown;
    line-height: 58px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    border: 3px solid darkseagreen;
    text-align: center;
}
h3 {
    font-size: 17px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}