/*
font-family: 'Roboto Slab', serif;
font-family: 'Ruda', sans-serif;
*/

* {
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
}

h1 {
    font-family: "Ruda", sans-serif;
    font-weight: 900;
    font-size: 64px;
    color: #184B99;
    padding: 60px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 700;
    font-family: "Ruda", sans-serif;
}

p {
    font-size: 18px;
    margin: 90px;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 60px;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 30px;
}

.navbar .logo {
    flex: 1 1 auto;
    margin-top: -30px;
    margin-left: 15px;
    text-align: left;
  }

a {
      display: block;
      margin-right: 30px;
      color: #184B99;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
      height: 60px;
  }

a:hover {
    text-shadow: 0 0 10px white, 0 0 20px #0c2b5a;
  }

.home .white-logo img{
    padding-top: 170px;
    margin-left: 500px;
    width: 70px;
}    

.text-about {
    margin-top: -200px;
    padding: 150px 150px 0px 150px;
}
.box-link {
    float: right;
    margin-right: 200px;
} 

.home {
      position: relative;
      background-image: url(img/matterhorn-3x2.jpg);
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
}

.home .white-logo img{
    padding-top: 150px;
    width: 40%;
}

.home .arrow {
    padding-top: 100px;
    text-align:center;
    width: 100%;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

.about-area, .events-area, .services-area, .contact-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.about-area {
    background-image: url(img/7c99937bef6a.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
    margin-left: 30px;
    padding: 15px 32px;
    background-color: #184B99;
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: white;
    color: #184B99;
  }

.box-link {
    margin-left: 20px;
    margin-bottom: 80px;
}

.timeline-section {
    position: relative;
    padding: 40px;
}

.timeline-section .container {
    padding-bottom: 70px;
}

.timeline-section::after {
    position: absolute;
    top:0;
    height: 100%;
    left: 50%;
    border: 3px solid #184B99;
    content:'';
    width: 0px;
    background-color: #184B99;
    margin-left: 1px;
}

.time {
    position: relative;
    width: 120px;
    font-weight:900;
}

.time span {
    color: #184B99;
    position: absolute;
    top: -10px;
    padding: 10px;
    font-size: 22px;
}

.time span:before {
    position: absolute;
    z-index: 1;
    width: 25px;
    height:25px;
    border: 5px solid #184B99;
    border-radius: 50%;
    background-color: white;
    content: '';
}

.card {
    width: 45%;
    padding: 20px 5px;
    background-color: #fff;
    border: none;
    color: #184B99;
    box-shadow: 0px 1px 15px rgba(24, 75, 153, 0.6);
    margin-left: 2px;
}

.discription {
    padding: auto;
    font-size: 16px;
    text-align: left;
    font-family: "Roboto Slab", serif;
}

.card .timeline-image {
    width: 90%;
    text-align: center;
    margin-top: 20px;
}

.left .content {
    padding-right: 15px;
    left: 0;
}

.left .time {left: 50%;}

.left .time span:before{
    text-align: left;
    left: -30px;
}

.left .time span {left: 18px;}

.right .time span:before {
    text-align: right;
    left: 80px;
}

.right .time span {left: -92px;}

.right .content {
    padding-left: 15px;
    left: 50%;
}

.right .card {
    margin-left: 850px;
}

.right .time {left: 50%;}




.events-area {
    background-color: #184B99;
    color: white;
}

.events-area h1 {
    padding-bottom: 20px;
    color: white;
}

.event_1, .event_2, .event_3 {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.event-texture h2{
    text-align:left;
    font-weight: 800;
    font-size: 34px;
    margin-bottom: 10px;
}

.event-texture p {
    margin: 0px;
}

.event-texture .subtitle {
    padding-bottom: 90px;
}

.event-texture {
    padding-left: 50px;
}

.events-area .link {
    text-align: right;
    padding-top: 50px;
}

.reading {
    font-size: 22px;
    font-weight: 800;
    display: inline-block;
    margin-left: 30px;
    padding: 15px 32px;
    background-color: rgb(219, 219, 219);
    text-decoration: none;
    color: #184B99;
}

.reading:hover {
    background-color: #184B99;
    color: white;
  }

  .scroll {
      height: 700px;
      overflow: hidden;
  }

  .scroll .event_1:first-child {
      animation: show 35s infinite;
  }

  @keyframes show {
      0% {
          margin-top: 0px;
      }
      25% {
          margin-top: -800px;;
      }
      50% {
          margin-top: -1600px;
      }
      75% {
          margin-top: -800px;
      }
      100% {
          margin-top: 0px;
      }

  }




.services-area {
    background-image: url(img/CEE-Resources_Background.jpeg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid img{
    width:50%;
    padding-bottom: 100px;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    column-gap: 300px;
    text-align: center;
    padding-right: 300px;
}

.grid .service_img {
    padding: 0;
    transition: transform 1s;
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 30pt;
    font-weight: 800;
    font-family: "Ruda", sans-serif;
    text-transform: capitalize;
    color: transparent;
}

.grid .service_img:hover {
    transform: scale(1.2);
    padding-top: 200px;
    opacity: 70%;
    color: #61a0ff;
}



.contact-area {
    background-color: white;
}

.contact-left {
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    display: flex;
    padding-left: 170px;
}

.contact-left article {
    flex: 20% 40% 40%;
}


.contact-left p{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 12pt;
}

footer {
    background-color: #184B99;
    position: relative;
    width: 100%;
    height:50px;
}

.down {
    margin-left: 50px;
}

footer p{
    margin: 0 auto;
    margin-left: -40px;
    line-height: 50px;
    color: white;
    padding: 0px;
}



@media only screen and (max-width: 768px) {

    h1 {
        font-family: "Ruda", sans-serif;
        font-weight: 900;
        font-size: 35px;
        color: #184B99;
        padding-top: 50px;
    }
    p {
        font-size: 16px;
        margin: 0;
    }
    .text-about {
        padding: 150px 50px 50px 50px;
    }
    .button {
        padding: 1px 45px;
        text-align: center;
    }
    .navbar {
        display: none;
    }
        
    .home .white-logo img{
        padding-top: 100px;
        margin-left: 10px;
        width: 100%;
    }
    
    .box-link {
        margin-left: 20px;
        margin-bottom: 80px;
    }

    
    .timeline-section::after {
        position: absolute;
        top:0;
        height: 100%;
        left: 25%;
        border: 3px solid #184B99;
        content:'';
        width: 0px;
        background-color: #184B99;
        margin-left: 0px;
    }
    
    .time {
        position: relative;
        width: 90px;
        font-weight:800;
    }
    
    .time span {
        color: #184B99;
        position: absolute;
        top: -10px;
        padding: 10px;
        font-size: 18px;
    }
    
    .time span:before {
        position: absolute;
        z-index: 1;
        width: 20px;
        height:20px;
        border: 3px solid #184B99;
        border-radius: 50%;
        background-color: white;
        content: '';
    }
    
    .card {
        display: block;
        width: 65%;
        padding: 20px 5px;
        background-color: #fff;
        border: none;
        color: #184B99;
        box-shadow: 0px 1px 15px rgba(24, 75, 153, 0.6);
        margin-left: 115px;
    }

    .timeline-image {
        display: none;
    }
    
    .discription {
        padding: auto;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        font-family: "Roboto Slab", serif;
    }
        
    .left .time {left: -12%;}
    
    .left .time span:before{
        text-align: right;
        left: 65px;
    }
    
    .left .time span {left: 14px;}
    
    .right .time span:before {
        text-align: right;
        left: 60px;
    }
    
    .right .time span {left: -173px;}
    
    .right .content {
        padding-left: 15px;
        left: 50%;
    }
    
    .right .card {
        margin-left: 100px;
    }
    
    .right .time {left: 53%;}
    
    


    .main-text {
        display: none;
    }
    .scroll {
        height: 600px;
        overflow:auto;
    }
  
    .scroll .event_1:first-child {
        animation: show 0s infinite;
    }
    
    .event_1, .event_2, .event_3 {
        display: flex;
        flex-direction: column;
    }
    .events-area h2 {
        font-size: 20px;
    }
    .events-area p{
        font-size: 14px;
    }
    .event_1 article, .event_2 article, .event_3 article {
        flex: 1;
    }
    .events-area .link {
        padding: 0px;
        text-align: center;
    }
    a {
        height: auto;
    }
    .reading {
        margin-left: auto;
    }
    .event-texture .subtitle {
        padding-bottom: 40px;
    }



    .grid img{
        width:100%;
        padding-bottom: 10px;
    }
    .grid {
        display: grid;
        grid-template-columns:none;
        margin: 0 auto;
        column-gap: 10px;
        text-align: center;
        padding: 50px;
        padding-top: 0px;
    }
    .grid .service_img {
        padding: 0;
        transition: transform 1s;
        height: 450px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        font-size: 20pt;
        font-weight: 800;
        font-family: "Ruda", sans-serif;
        text-transform: capitalize;
        color: #184B99;
    }
    .grid .service_img:hover {
        display: none;
    }
    
    
    .contact-left {
        display: flex;
        flex-direction: column;
        padding-left: 90px;
    }
    .contact-area h1 {
        padding-bottom: 20px;
    }
    .contact-area h3{
        font-size: 15px;
        margin-left: -50px;
    }
    .contact-left p{
        font-size: 12px;
        line-height: 17px;
        margin-top: -195px;
        margin-left: 40px;
    }
    article:last-child {
        display: none;
    }
    .feature {
        padding-bottom: 90px;
    }
    
    
}